* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: var(--globalBackgroundColor);
    background-image: url('/Assets/BackgroundImages/Abstract_4.jpg');
    background-size: 100%;
}

.navbar {
    height: 45px;
    width: 100vw;
    background-color: var(--globalBackgroundColor);
    backdrop-filter: blur( var(--globalBackgroundBlur) );

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
}

.navbar .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .left .item {
    color: var(--navbarIconColor);
    background-color: var(--navbarIconBackgroundColor);

    margin: 0 0 0 0.5vw;
    width: fit-content;
    height: 30px;
    padding: 0 1vw;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .left .item:hover {
    background-color: var(--globalHoverColor);
}
.navbar .left .item:active {
    background-color: var(--globalClickColor);
}
.navbar .left .active {
    background-color: var(--globalActiveColor);
}

.navbar .center {
    color: var(--navbarIconColor);
    font-size: x-large;

    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.navbar .right .item {
    color: var(--navbarIconColor);
    background-color: var(--navbarIconBackgroundColor);

    margin: 0 0.5vw 0 0;
    width: fit-content;
    height: 30px;
    padding: 0 1vw;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .right .item:hover {
    background-color: var(--globalHoverColor);
}
.navbar .right .item:active {
    background-color: var(--globalClickColor);
}

.menu {
    background-color: var(--globalBackgroundColor);
    backdrop-filter: blur( var(--globalBackgroundBlur) );
    color: var(--menuTextColor);

    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;

    display: none;
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 100;
}

.menu .item {
    padding: 10px;
    margin: 2.5px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu .item:hover {
    background-color: var(--globalHoverColor);
}
.menu .item:active {
    background-color: var(--globalClickColor);
}

.menu .item .shortcut {
    display: flex;
    justify-content: end;
}

.quickSetting {
    width: 250px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;;

    position: fixed;
    top: 50px;
    right: 10px;

    background-color: var(--globalBackgroundColor);
    backdrop-filter: blur( var(--globalBackgroundBlur) );
    color: var(--quickSettingsColor);

    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

    z-index: 10;
}

.quickSetting .item {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;

    background-color: var(--navbarIconBackgroundColor);
}

.quickSetting .clock {
    grid-row: span 2;
    grid-column: span 2;

    font-size: xx-large;

    display: grid;
    grid-template-rows: 1fr 1fr;
}
.quickSetting .clock .time {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quickSetting .clock .am-pm {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quickSetting .account {
    grid-column: span 1;

    align-items: center;
    justify-content: center;
}
.quickSetting .windowMode {
    grid-column: span 2;

    align-items: center;
    justify-content: center;
}
.quickSetting .settingShortcut {
    grid-column: span 1;

    align-items: center;
    justify-content: center;
}
.quickSetting   .accentColor {
    grid-column: span 4;

    justify-content: space-around;
    align-items: center;
}
.quickSetting .accentColor .color:hover {
    transform: scale(1.3);
}
.quickSetting .accentColor .color:active {
    transform: scale(1.1);
}

.quickSetting .accentColor .purple { color: #A484FF; }
.quickSetting .accentColor .blue { color: #7E8BFF; }
.quickSetting .accentColor .cyan { color: #66BDD8; }
.quickSetting .accentColor .green { color: #85FFB6; }
.quickSetting .accentColor .yellow { color: #C3E086; }
.quickSetting .accentColor .orange { color: #FFCA8B; }
.quickSetting .accentColor .red { color: #FFA0A0; }

.quickSetting  .interactive:hover {
    background-color: var(--globalHoverColor);
}
.quickSetting  .interactive:active {
    background-color: var(--globalActiveColor);
}

.quickSettingPopout .item {
    top: 275px;
    right: 145px;
    display: none;
    position: fixed;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translateX(50%);
    z-index: 10;
    
    color: #ccc;
    background-color: var(--globalBackgroundColor);
    backdrop-filter: blur( var(--globalBackgroundBlur) );
}

.home {
    height: 85vh;
    width: 90vw;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.home .group {
    background-color: #42424288;
    border-radius: 10px 0 0 10px;
    color: var(--HomeGroupTitleColor);
    backdrop-filter: blur( var(--globalBackgroundBlur) );
    padding: var(--HomeGroupPadding);
}

.home .group .title {
    padding: 10px;
    font-size: x-large;
}
.home .group hr {
    border-bottom: 1px rgba(128, 128, 128, 0.308) solid;
}

.home .group .select {
    margin-top: 20px;
}

.home .group .select .link {
    background-color: var(--navbarIconBackgroundColor);
    border-radius: 10px;;
    padding: 15px;
    margin-bottom: 5px;
}
.home .group .select .link:hover {
    background-color: var(--globalHoverColor);
}
.home .group .select .link:active {
    background-color: var(--globalClickColor);
}

.home .content {
    backdrop-filter: blur( var(--globalBackgroundBlur) );
    background-color: #29292bdc;
    border-radius: 0 10px 10px 0;
    height: 85vh;
    color: var(--HomeContentTitleColor);
    padding: var(--HomeContentPadding);
}

.home .content .title {
    padding: 10px;
    font-size: x-large;
}
.home .content hr {
    border-bottom: 1px rgba(128, 128, 128, 0.308) solid;
}

.home .content .contentBody {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.08fr 0.35fr 0.55fr;
    gap: 10px;
    height: 93%;
}

.home .content .contentBody .Input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    height: 30px;
    grid-column: span 2;
    margin-bottom: 20px;
}

.home .content .contentBody .Input .inputs {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.home .content .contentBody .Input .inputs input {
    border-radius: 10px;
    border: 0px transparent hidden;
    padding: 10px;
    margin-left: 10px;
    background-color: var(--navbarIconBackgroundColor);
    color: var(--HomeGroupTitleColor);
    user-select: none;
}
.home .content .contentBody .Input .inputs input:hover {
    background-color: var(--globalHoverColor);
}
.home .content .contentBody .Input .inputs input:-ms-input-placeholder {
    color: var(--HomeContentTitleColor);
}
.home .content .contentBody .Input .inputs input::placeholder {
    color: var(--HomeContentTitleColor);
}

.home .content .contentBody .details {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--navbarIconBackgroundColor);
}
.home .content .contentBody .details .detailsTitle {
    font-size: larger;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.home .content .contentBody .details .detailsContent .item {
    margin: 15px;
}

.home .content .contentBody .carousel {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--navbarIconBackgroundColor);
    grid-row: span 2;
}

.home .content .contentBody .carousel .carouselTitle {
    margin: 10px;
    margin-bottom: 50px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .content .contentBody .carousel .slide {
    width: 800px;
    margin-right: 20px;
}

.home .content .contentBody .carousel .slider-wrapper {
    position: relative;
    max-width: 55rem;
    margin: 0 auto;
}

.home .content .contentBody .carousel .slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.home .content .contentBody .carousel .slider::-webkit-scrollbar {
    display: none;
}

.home .content .contentBody .carousel .slider .slide {
    flex: 1 0 99%;
    scroll-snap-align: center;
}

.home .content .contentBody .carousel .slider .sider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.home .content .contentBody .sliderNav {
    background-color: var(--navbarIconBackgroundColor);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 20px;
}

.home .content .contentBody .sliderNav::-webkit-scrollbar  {
    display: none;
}
.home .content .contentBody .sliderNav a {
    color: var(--HomeGroupTitleColor);
    text-decoration: none;
    background-color: var(--navbarIconBackgroundColor);
    padding: 15px;
    margin: 5px 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}