:root {

    /* Global Variables */
    --globalBackgroundColor: #1d1d1f99;
    --globalBackgroundBlur: 15px;
    --globalAccentColor: ;
    --globalHoverColor: #A484FF66;      /* Ends in 66 */
    --globalClickColor: #A484FF99;      /* Ends in 99 */
    --globalActiveColor: #A484FFbb;     /* Ends in bb */


    /* Navbar */
    --navbarIconColor: #ccc;
    --navbarIconBackgroundColor: rgba(128, 128, 128, 0.089);
    
    /* Menu Popout */
    --menuBackgroundColor: #1d1d1f99;
    --menuBackgroundBlur: 10px;
    --menuTextColor: #ccc;
    
    /* Quick Settings Popout */
    --quickSettingsColor: #ccc;
    --quickSettingsItemBackgroundColor: rgba(128, 128, 128, 0.089);

    /* Home Group */
    --HomeGroupTitleColor: #ccc;
    --HomeGroupPadding: 10px;

    /* Home Content */
    --HomeContentTitleColor: #eee;
    --HomeContentPadding: 20px;

}